body {
    font-family: Arial, sans-serif;
    background-color: #ffe18e;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ffc400;
    color: white;
    padding: 20px 0;
}

.foto img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

main section {
    margin: 20px auto;
    max-width: 600px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a {
    color: #ffd000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
